<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="
		http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd
    	http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task.xsd">

	<!-- Provide support for component scanning -->
	<context:component-scan base-package="com.javatpoint" />

	<!--Provide support for conversion, formatting and validation -->
	<mvc:annotation-driven/>

	<task:annotation-driven executor="workManagerTaskExecutor" />
	<!--
	<task:annotation-driven executor="managedExecutorService" />
	-->

	<bean id="workManagerTaskExecutor" name="taskExecutor" class="org.springframework.scheduling.commonj.WorkManagerTaskExecutor">
		<property name="workManagerName" value="Queue_TURKCELL_WEB_ASYNC" />
		<property name="resourceRef" value="true" />
	</bean>


	<!--
		YOMTEM 1
		jndi'dan DefaultManagedExecutorService kullanımı
	-->
	<!--
	<bean id="managedExecutorService" name="managedExecutor" class="org.springframework.scheduling.concurrent.DefaultManagedTaskExecutor">
		<property name="jndiName" value="java:comp/DefaultManagedExecutorService" />
		<property name="resourceRef" value="false" />
	</bean>
	-->
	<!--
		YOMTEM 1
	-->

	<!--
		YOMTEM 2
		application server tanımından kullanım
	-->
	<bean id="managedExecutorService" name="managedExecutor" class="org.springframework.scheduling.concurrent.DefaultManagedTaskExecutor">
		<property name="jndiName" value="concurrent/MyExecutor" />
		<property name="resourceRef" value="true" />
	</bean>
	<!--
		YOMTEM 2
	-->


</beans>
