<?xml version="1.0" encoding="UTF-8"?>
<web-app  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

<!-- 	<listener> -->
<!-- 		<listener-class>com.turkcell.testwebapp4.listener.TestSessionListener4</listener-class> -->
<!-- 	</listener> -->

  <servlet>
    <servlet-name>Session Sharing Test</servlet-name>
    <servlet-class>com.turkcell.testwebapp4.servlet.SessionSharingTest4</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session Sharing Test</servlet-name>
    <url-pattern>/sessionsharingtest4</url-pattern>
  </servlet-mapping>
</web-app>